.canvas {
  composes: canvas from '../shared/masonry-layout.module.css';
  min-height: calc(100dvh - var(--canvas-offset, 16rem));
}

.post {
  composes: item from '../shared/masonry-layout.module.css';
  transition: transform 0.2s ease;
}
